<h1>Bienvenidos a el programa {{title}}</h1>

<h2>A la clase de DAW</h2>

<input type="text" [(ngModel)]="nombre" placeholder="Escribe tu nombre">

<h2>El nombre que has escrito es: {{nombre}}</h2>

<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido1</th>
    <th>Apellido2</th>
    <th>email</th>
  </tr>
  <tr *ngFor="let persona of personas">
    <td>{{persona.nombre}}</td>
    <td>{{persona.apellido1}}</td>
    <td>{{persona.apellido2}}</td>
    <td>{{persona.email}}</td>
  </tr>
</table>
<br>
<br>


<button (click)="recargar()">Recarga</button>